<h2>Please sign in using the form below:</h2>

<%= form_tag clients_path do %>
  <h4><%=flash[:notice]%></h4>
  Email: <br/><%= text_field_tag :email, placeholder: "email"  %><br>
  Password:<br/><%= password_field_tag :password, :placeholder => "password"  %>
  <br/>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <%= submit_tag "Sign In" %>
<% end %>
