<h1>Editing Account</h1>

<%= render 'form', account: @account %>

<%= link_to 'Show', @account %> |
<%= link_to 'Back', accounts_path %>


<h1> Update An Account Name</h1>

  <%= form_tag account_path(@account), method: "put" do %>
  Name: <br/><%= text_field_tag :name, @account.name %><br/>
  <br/>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <%= submit_tag "Edit Account" %>
<% end %>
