<p id="notice"><%= notice %></p>

<h1>Accounts</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @accounts.each do |account| %>
      <tr>
        <td><%= link_to 'Show', account %></td>
        <td><%= link_to 'Edit', edit_account_path(account) %></td>
        <td><%= link_to 'Destroy', account, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Account', new_account_path %>




<h2>Welcome to Accounts</h2>
<h3>These Are Your Current Account Balances<h3>

<%current_client.accounts.each do |account|%>
  <h3>Account: <%=account.name%></h3>
  <p>Balance: $<%=account.balance%></p>
<%end%>
<br/>
<br/>


<h3>Transfer Between Accounts </h3>
<h4><%=flash[:notice]%></h4>

<%= form_tag("/accounts/transfer") do %>
<%= label_tag "transfer_from", "Transfer From" %>
<br/>
Account from Name: <br/><%= text_field_tag "account_from_name", :placeholder => "from"  %><br/>
<br/>
<%= label_tag "transfer_to", "Transfer To" %>
<br/>
Account to Name: <br/><%= text_field_tag "account_to_name", :placeholder => "to"  %><br/>
<br/>
<%= label_tag "amount", "Amount" %>
<br/>
Amount to Transfer: <br/><%= number_field_tag "transaction_amount", :placeholder => "amount"  %><br/>

<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
<%= submit_tag "Transfer" %>
<% end %>
<br/>
<br/>


<h3>Transfer Between Accounts </h3>
<h4><%=flash[:notice]%></h4>

<%= form_tag("/accounts/transfer/outside") do %>
<h3>Transfer to Another Bank Account Holder</h3>
<%= label_tag "transfer_from", "Transfer From" %>
<br/>
Account from Name: <br/><%= text_field_tag "account_from_name", :placeholder => "from"  %><br/>
<br/>
<%= label_tag "transfer_to_email", "Transfer To Email" %>
<br/>
Email of the Account Holder You'd Like to Transfer to: <br/><%= text_field_tag "account_to_email", :placeholder => "to email"  %><br/>
<br/>
<%= label_tag "transfer_to_account_name", "Transfer To Account Name" %>
<br/>
Name of the Outside Account You'd Like to Transfer to: <br/><%= text_field_tag "account_to_name", :placeholder => "to account"  %><br/>
<br/>
<%= label_tag "amount", "Amount" %>
<br/>
Amount to Transfer: <br/><%= number_field_tag "transaction_amount", :placeholder => "amount"  %><br/>

<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
<%= submit_tag "Transfer" %>
<% end %>




<ol>
  <li><a href="/accounts/new">Create an Additional Account</a></li>
  <li><a href="/sessions/logout">Log Out</a></li>
</ol>
